<!-- <div>
  <h1>{{title}}</h1>
    <div ng-repeat="todo in directivelist">
        <input type="checkbox" ng-model="todo.completed"> {{todo.name}}
    </div>

   <form sf-schema="schema" sf-form="form" sf-model="model"></form>

</div> -->

<div class="panel-body forms-ttui row">

     <form class="form-horizontal">
      <div class="col-sm-4">
          <label translate="Registration of Service" >Registration of Service</label>
          <div class="form-group">
              <label class="control-label col-sm-4" for="service">Service:</label>
              <div class="col-sm-8">
                  <select class="form-control" id="service"  ng-model="filtersForm.searchOffer.Technology"
                   ng-options="service.code as technology.name for service in filtersForm.serviceList">
                  <option value="">Select</option>
                 </select>
              </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Password:</label>
                <div class="col-sm-8"> 
                    <select class="form-control" id="technology"  ng-model="filtersForm.searchOffer.Technology"
                    ng-options="technology.code as technology.name for technology in filtersForm.technologyList" >
                  <option value="">Select</option>
                </select>
                </div>
              </div>
      </div>


      <div class="col-sm-4">
          <label>For Customer</label>
          <div class="form-group">
              <label class="control-label col-sm-4" for="category">category:</label>
              <div class="col-sm-8">
                  <select class="form-control"  id="customer-category" ng-model="filtersForm.searchOffer.CustomerCategory"
                  ng-options="customerCategory.code as customerCategory.name for customerCategory in filtersForm.customerCategoryList"
                  ng-change="SearchOfferingService.getCustomerSubCategory(filtersForm)" >
                <option value="">Select</option>
              </select>
              </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="subcategory">subcategory:</label>
                <div class="col-sm-8"> 
                    <select class="form-control"  id="customer-subcategory" ng-model="filtersForm.searchOffer.CustomerSubCategory"
                    ng-options="subCategory.code as subCategory.name for subCategory in filtersForm.customerSubCategoryList">
                  <option value="">Select</option>
                </select>
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4" for="Nationality">Nationality:</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="Nationality"ng-model="filtersForm.searchOffer.Country"
                      ng-options="country.code as country.name for country in filtersForm.countries"
                      ng-change="SearchOfferingService.getProvinceDefaultValues(filtersForm)">
                    <option value="">Select</option>
                  </select>
                  </div>
                </div>
      </div>

      <div class="col-sm-4">
          <label>Plan  Details</label>
          <div class="form-group">
              <label class="control-label col-sm-4" for="business-type">Business Type:</label>
              <div class="col-sm-8">
                  <select class="form-control"  id="business-type" ng-model="filtersForm.searchOffer.BusinessType"
                  ng-options="businessType.code as businessType.name for businessType in
                    filtersForm.businessTypeList">
                <option value="">Select</option>
              </select>
              </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="plan">Plan:</label>
                <div class="col-sm-8"> 
                    <select class="form-control"  id="plan" ng-model="filtersForm.searchOffer.BusinessType"
                    ng-options="businessType.code as businessType.name for businessType in
                      filtersForm.businessTypeList">
                  <option value="">Select</option>
                </select>
                </div>
              </div>
      </div>
     
     
    </form>
</div>


