<style>
	/* Style the tab content */
	/*Reset Padding*/
	.pl-0 {
		padding-left: 0
	}
	.pr-0 {
		padding-right: 0
	}
	.plr-0 {
		padding-left: 0;
		padding-right: 0;
	}
	.bt-1x {
		border-top: 1px solid #ddd;
	}
	.pt-5x {
		padding-top: 5px;
	}
	.tabcontent {
		float: left;
		padding: 0px 12px;
		border: 1px solid #ccc;
		width: 80%;
		border-left: none;
		height: auto;
		border-top: 1px solid #ccc
	}
	.table-list {
		float: left;
		width: 100%;
	}
	.table-list li {
		float: left;
		width: 100%;
	}
	.table-list li.list-group-item {
		border: none;
		border-bottom: 1px solid #ddd;
	}
	.show-table {
		display: table
	}
	.selectOffering table>tbody>tr.expanding-row.show-row {
		display: table-row
	}
	;
	.ttui-table.ttui-table>tbody>tr.expanding-row>td .table>tbody {
		background: transparent !important;
	}
	.selectOffering table>tbody>tr.expanding-row.show-row .table {
		background: transparent !important;
	}
	.equipment-table.table>tbody>tr>td {
		border-top: none;
	}
	.charges-table.table>tbody>tr>td,
	.contractsPenalty-table.table>tbody>tr>td,
	.charges-table.table>tbody>tr>th,
	.EMIPlan-tabl.table>tbody>tr>td {
		border-top: none;
	}
	.charges-table.table>tbody>tr>th.border-top {
		border-top: 1px solid #ddd;
	}
	/* Style the tab */
	.tab {
		float: left;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		width: 20%;
		height: auto;
	}
	.selectOffering table.ttui-table.table.show {
		display: table !important;
	}
	.selectOffering table>tbody>tr.expanding-row {
		display: none;
	}
</style>

<div class="col-md-12" style="padding: 0px;">

	{{masterData}}

</div>