<div class="form-horizontal-ttui" spinner-inside>
    <div class="panel panel-ttui" ng-form="localitySearch">
        <div class="panel-body forms-ttui row">
            <p class="col-sm-12">
                <strong translate="Enter exact address of installation to check feasibility">Enter exact address of installation to check feasibility</strong>
            </p>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{'is-required': validators.locality.required, 'has-error': (localitySearch.locality.$dirty && localitySearch.locality.$error.required)}">
                    <label for="lacality" class="col-sm-4 control-label" translate="Locality">Locality</label>
                    <div class="control-content col-sm-8">
                        <ui-select id="city" name="locality" ng-attr-required="{{validators.locality.required}}" theme="bootstrap"
                            ng-model="model.locality.locality" append-to-body="true" on-select="onSelectLocality($event, $item)">
                            <ui-select-match placeholder="Select / Search Localities">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="locality in localities | filter: $select.search">
                                <span ng-bind-html="locality.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block" ng-show="localitySearch.locality.$dirty && localitySearch.locality.$error.required"> This field is required </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'is-required': validators.subLocality.required, 'has-error': (localitySearch.subLocality.$dirty && localitySearch.subLocality.$error.required)}">
                    <label for="lacality" class="col-sm-4 control-label" translate="Sub Locality">Sub Locality</label>
                    <div class="control-content col-sm-8">
                        <ui-select id="city" name="subLocality" ng-attr-required="validators.subLocality.required" theme="bootstrap"
                            ng-model="model.locality.subLocality" append-to-body="true" on-select="onSelectSubLocality($event, $item)">
                            <ui-select-match placeholder="Select / Search Sub Localities">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="sl in subLocalities | filter: $select.search">
                                <span ng-bind-html="sl.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block" ng-show="localitySearch.subLocality.$dirty && localitySearch.subLocality.$error.required"> This field is required </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'is-required': validators.street.required, 'has-error': (localitySearch.street.$dirty && localitySearch.street.$error.required)}">
                    <label for="street" class="col-sm-4 control-label" translate="Street">Street</label>
                    <div class="control-content col-sm-8">
                        <ui-select id="city" name="street" ng-attr-required="validators.street.required" theme="bootstrap"
                            ng-model="model.locality.street" append-to-body="true" on-select="onSelectStreet($event, $item)">
                            <ui-select-match placeholder="Select / Search Street">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="st in streets | filter: $select.search">
                                <span ng-bind-html="st.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block" ng-show="localitySearch.street.$dirty && localitySearch.street.$error.required"> This field is required </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="street" class="col-sm-4 control-label"></label>
                    <div class="control-content col-sm-8">
                        <button type="button" class="btn btn-primary" ng-disabled="localitySearch.$invalid" ng-click="searchAddressFeasibility(false)">Check Feasibility</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="searchResult.locality">
                <div class="feasibility-search-result">
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-ok-sign" style="font-size: 24px"></span>
                        </div>
                        <div class="col-xs-10">
                            <div>The address &lt; <em>{{searchResult.locality}}, {{searchResult.subLocality}}, {{searchResult.street}} &gt;</em></div>
                            <p><strong>Has {{searchResult.technology}} Feasibility</strong></p>
                            <div>MDF: {{searchResult.MDF || "--unknown--"}}</div>
                            <div>Cabinet: {{searchResult.cabinet || "--unknown--"}}</div>
                            <div>FDP: {{searchResult.FDP || "--unknown--"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-ttui" ng-form="serviceNumSearch">
        <div class="panel-body forms-ttui row">
            <div class="col-sm-6 clearfix">
                <p class="text-center"><strong>------ Or ------</strong></p>
            </div>
            <p class="col-sm-12">
                <strong translate="Enter your Fixed line or your Neighbour's Fixed Line Number">Enter your Fixed line or your Neighbour's Fixed Line Number</strong>
            </p>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{'is-required': validators.serviceNumber.required, 'has-error': (serviceNumSearch.serviceNumber.$dirty && serviceNumSearch.locality.$error.required)}">
                    <label class="col-sm-4 control-label" translate="Service Number">Service Number</label>
                    <div class="control-content col-sm-8">
                        <input type="text" name="serviceNumber" ng-model="model.serviceNumber" ng-attr-required="{{validators.serviceNumber.required}}" class="form-control">
                        <span class="help-block" ng-show="serviceNumSearch.serviceNumber.$dirty && serviceNumSearch.serviceNumber.$error.required"> This field is required </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="street" class="col-sm-4 control-label"></label>
                    <div class="control-content col-sm-8">
                        <button type="button" class="btn btn-primary" ng-disabled="serviceNumSearch.$invalid" ng-click="searchAddressFeasibility(true)">Check Feasibility</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="searchResult.serviceNumber">
                <div class="feasibility-search-result">
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-ok-sign" style="font-size: 24px"></span>
                        </div>
                        <div class="col-xs-10">
                            <div>The address &lt; <em>{{searchResult.locality}}, {{searchResult.subLocality}}, {{searchResult.street}} &gt;</em></div>
                            <p><strong>{{searchResult.technology || "--unknown--"}}</strong></p>
                            <div>MDF: {{searchResult.MDF || "--unknown--"}}</div>
                            <div>Cabinet: {{searchResult.Cabinet || "--unknown--"}}</div>
                            <div>FDP: {{searchResult.FDP || "--unknown--"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
