<style>
	/* Style the tab content */
	/*Reset Padding*/
	.pl-0 {
		padding-left: 0
	}
	.pr-0 {
		padding-right: 0
	}
	.plr-0 {
		padding-left: 0;
		padding-right: 0;
	}
	.bt-1x {
		border-top: 1px solid #ddd;
	}
	.pt-5x {
		padding-top: 5px;
	}
	.tabcontent {
		float: left;
		padding: 0px 12px;
		border: 1px solid #ccc;
		width: 80%;
		border-left: none;
		height: auto;
		border-top: 1px solid #ccc
	}
	.table-list {
		float: left;
		width: 100%;
	}
	.table-list li {
		float: left;
		width: 100%;
	}
	.table-list li.list-group-item {
		border: none;
		border-bottom: 1px solid #ddd;
	}
	.show-table {
		display: table
	}
	.selectOffering table>tbody>tr.expanding-row.show-row {
		display: table-row
	}
	;
	.ttui-table.ttui-table>tbody>tr.expanding-row>td .table>tbody {
		background: transparent !important;
	}
	.selectOffering table>tbody>tr.expanding-row.show-row .table {
		background: transparent !important;
	}
	.equipment-table.table>tbody>tr>td {
		border-top: none;
	}
	.charges-table.table>tbody>tr>td,
	.contractsPenalty-table.table>tbody>tr>td,
	.charges-table.table>tbody>tr>th,
	.EMIPlan-tabl.table>tbody>tr>td {
		border-top: none;
	}
	.charges-table.table>tbody>tr>th.border-top {
		border-top: 1px solid #ddd;
	}
	/* Style the tab */
	.tab {
		float: left;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		width: 20%;
		height: auto;
	}
	.selectOffering table.ttui-table.table.show {
		display: table !important;
	}
	.selectOffering table>tbody>tr.expanding-row {
		display: none;
	}
</style>

<div class="col-md-12 selectOffering" style="padding: 0px;" ng-controller="SelectPlanOfferingCtrl as tabctrl">

	<div class="panel panel-default">
		<div class="panel-body table-no-padding">
			<table tt-table st-table="offeringList" st-safe-src="plansList" st-items-by-page="10" class="ttui-table table">
				<thead class="table-extra-header">
					<tr>
						<th colspan="{{tableCtrl.colspan}}">
							<span class="table-extra-header-left">
								<tt-table-filter-tags tags="tableCtrl.tableState.search.predicateObject"></tt-table-filter-tags>
							</span>
							<!-- table actions -->
							<span class="table-extra-header-right">
								<a ng-show="tableCtrl.showActions()" class="btn btn-default" ng-click="example.executeAction(tableCtrl.getSelectionModel())"
								    href>action 1</a>
								<a ng-show="tableCtrl.showActions()" class="btn btn-default" href>action 2</a>
								<a ng-show="tableCtrl.showActions()" class="btn btn-default" href>action 3</a>
							</span>

						</th>
					</tr>
				</thead>

				<thead class="main-header">
					<tr>
						<!-- <th uib-dropdown is-open="dropdownCtrl.isOpen" auto-close="disabled" tt-table-dropdown path="column.path" set-filters="column.filters">
							<tt-table-text-tooltip text="'Offering'" uib-dropdown-toggle></tt-table-text-tooltip>
						</th> -->
						<th uib-dropdown tt-table-dropdown is-open="dropdownCtrl.isOpen" disable-auto-filters="true" auto-close="disabled" path="'offering'"
						    set-filters="codeFilters">
							<tt-table-text-tooltip text="'Offerings'" uib-dropdown-toggle></tt-table-text-tooltip>
						</th>

						<th translate="Variant">Variant</th>
						<th translate="Allowance">Allowance</th>

						<th uib-dropdown tt-table-dropdown is-open="dropdownCtrl.isOpen" disable-auto-filters="true" auto-close="disabled" path="'charges.sumOfRC'"
						    set-filters="codeFilters">
							<tt-table-text-tooltip text="'Charges'" uib-dropdown-toggle></tt-table-text-tooltip>
						</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody ng-repeat="items in offeringData track by $index">
					<tr ng-class="{'active':items.selected}">
						<td ng-bind="::items.offering.name" data-mobile-label="Offering"></td>
						<td>
							<select ng-init="items.offering.code =items.offering.code " ng-model="selectedVariant.code" ng-options="variant.product.code as variant.product.name for 
							 variant in items.offering.associatedProducts.associatedProduct | filter:variant.mandatory === false" ng-change="getSelectedVariant(items.offering)">
								<option value="">Select</option>
							</select>
						</td>
						<td ng-bind="items.allowanceDescription" data-mobile-label="Allowance"></td>
						<td ng-bind="::items.offering.charges.sumOfRC | currency  : items.offering.currency.code"></td>
						<td translate="%">%</td>
						<td translate="EMI">EMI</td>
						<td>
							<a class="list-group-item-link" href ng-if="items.selected" ng-click="items.selected = items.selected; $event.stopPropagation();"
							    translate="Selected">Selected</a>
							<a class="list-group-item-link" href ng-if="!items.selected" ng-click="items.selected = !items.selected; $event.stopPropagation();"
							    translate="Select">Select</a>
						</td>
						<td>
							<a class="list-group-item-link" translate="Details" ng-click="items._meta.expanded=!items._meta.expanded; getOfferingDetailsView()">Details</a>
						</td>
					</tr>

					<tr class="expanding-row" ng-class="{'show-row':items._meta.expanded}">
						<td colspan="{{tableCtrl.colspan}}">
							<div class="col-sm-12" uib-collapse="!items._meta.expanded">
								<div class="col-sm-12 pr-0" ng-repeat="(key, val) in tabs" ng-show="key == $parent.tabId">
									<p class="col-sm-9 col-sm-offset-3 prodcutSummary">{{val.summary}}</p>
								</div>
								<div class="col-sm-3 tablist plr-0 pt-5x bt-1x">
									<ul class="nav nav-list nav-stacked">
										<li role="presentation" ng-repeat="tab in tabs track by $index" ng-class="{'active': $index == $parent.tabId}">
											<a href ng-click="setTab($parent.$index,$event);" translate="{{tab.title}}">{{tab.title}}</a>
										</li>
									</ul>
								</div>

								<div class="col-sm-9 plr-0 pt-5x bt-1x">
									<div class="tab-content">
										<div class="tab-pane" ng-repeat="(key, val) in tabs" ng-class="{'show': key == $parent.tabId}">
											<div class="col-sm-12 pr-0">
												<!-- <p class="prodcutSummary">{{val.summary}}</p> -->

												<div class="col-sm-12 plr-0" ng-show="key == 0">
													<ul class="list-group table-list">
														<li class="list-group-item">
															<div class="col-sm-6 plr-0">
																<label>BROADBAND</label>
																<p>
																	<span>Volume</span>
																</p>
															</div>
															<div class="col-sm-6 plr-0">
																<label>Allowance</label>
																<p>
																	<span>50 Channels</span>
																	<span class="pull-right">FULL LIST</span>
																</p>
															</div>
														</li>
													</ul>

												</div>

												<table class="table equipment-table" ng-show="key == 1">
													<thead>
														<tr>
															<th>Equipment</th>
															<th>Make</th>
															<th>Model</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Set Top Box First Room</td>
															<td>Huawei</td>
															<td>u45we</td>
														</tr>
														<tr>
															<td>Wi Fi Router</td>
														</tr>
														<tr>
															<td>Range Extender</td>


														</tr>
													</tbody>

												</table>
												<table class="table charges-table" ng-show="key == 2">
													<tbody>
														<tr>
															<td>Monthly Rental</td>
															<td>
																<span>%</span> MUR 345.00 /mo
																<span class="pull-right">
																	<s>MUR 399.00 /mo</s>
																</span>
															</td>
														</tr>
														<tr>
															<td>Security Deposit</td>
															<td>MUR 100.00
																<span>Upfront</span>
															</td>
														</tr>
														<tr>
															<td>Insatallation Charge</td>
															<td>MUR 100.00</td>
														</tr>

														<tr>
															<th class="border-top">TOTAL (incl. Tax) Upfront</th>
															<th class="border-top">MUR 140.00</th>
														</tr>
														<tr>
															<th>TOTAL AMOUNT in 1st Invoice</th>
															<th>MUR 445.00</th>
														</tr>
													</tbody>
												</table>
												<table class="table contractsPenalty-table" ng-show="key == 3">

													<tbody>
														<tr>
															<td>Minimum Term Contract</td>
															<td>12 Months</td>
														</tr>
														<tr>
															<td>Earliest Exit</td>
															<td>12/12/2018</td>
														</tr>
														<tr>
															<td>Contract Breach Penalty</td>
															<td>MUR 100.00</td>
														</tr>
														<tr>
															<td>Downgrading Penalty</td>
															<td>MUR 500.00 upfront</td>
														</tr>
														<tr>
															<td>Upgrading Penalty</td>
															<td>--</td>
														</tr>
														<tr>
															<td>Equipment (Not Returned/ Broken )</td>
															<td>Show the rule of penalty if not value</td>
														</tr>
														<tr>
															<td>Suspension Penalty/Rules</td>
															<td>Allowed</td>
														</tr>
														<tr>
															<td>No. of Suspensions Allowed</td>
															<td>3</td>
														</tr>
													</tbody>
												</table>
												<table class="table EMIPlan-table" ng-show="key == 4">
													<thead>
														<tr>
															<th>Plan</th>
															<th>Interest Rate</th>
															<th>Cost</th>
															<th>Interest</th>
															<th>Total Payable</th>
															<th>EMI</th>
															<th></th>
														</tr>
													</thead>

													<tbody>
														<tr>
															<td>3 Months EMI</td>
															<td>12% p.a</td>
															<td>MUR 350.00</td>
															<td>MUR 50.00</td>
															<td>MUR 400.00</td>
															<td>MUR 133.00</td>
															<td>SELECT</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>

				</tbody>


				<tfoot ng-if="tableCtrl.enablePagination">
					<tr>
						<td colspan="8">
							<tt-table-pagination />
						</td>
					</tr>
				</tfoot>
			</table>
			<div class="row panel-body" ng-if="offeringData == 0">
				<div class="col-xs-12" translate="To see eligible plans list you need to select plan first">
					To see eligible plans list you need to select plan first
				</div>
			</div>
		</div>
	</div>

</div>