<style>
	/* Style the tab content */

	.tabcontent {
		float: left;
		padding: 0px 12px;
		border: 1px solid #ccc;
		width: 80%;
		border-left: none;
		height: auto;
	}

	/* Style the tab */

	.tab {
		float: left;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		width: 20%;
		height: auto;
	}
</style>

<div class="col-md-12" style="padding: 0px;">
	<div class="panel panel-default">
		<div class="panel-body table-no-padding">
			<table tt-table st-table="offeringList" st-safe-src="plansList" st-items-by-page="10" class="table table-hover ttui-table">
				<thead class="table-extra-header">
					<tr>
						<th colspan="{{tableCtrl.colspan}}">
							<span class="table-extra-header-left">
								<tt-table-filter-tags tags="tableCtrl.tableState.search.predicateObject"></tt-table-filter-tags>
							</span>
							<!-- table actions -->
							<span class="table-extra-header-right">
								<a ng-show="tableCtrl.showActions()" class="btn btn-default" ng-click="example.executeAction(tableCtrl.getSelectionModel())"
								 href>action 1</a>
								<a ng-show="tableCtrl.showActions()" class="btn btn-default" href>action 2</a>
								<a ng-show="tableCtrl.showActions()" class="btn btn-default" href>action 3</a>
							</span>

						</th>
					</tr>
				</thead>

				<thead class="main-header">
					<tr>
						<!-- <th uib-dropdown is-open="dropdownCtrl.isOpen" auto-close="disabled" tt-table-dropdown path="column.path" set-filters="column.filters">
							<tt-table-text-tooltip text="'Offering'" uib-dropdown-toggle></tt-table-text-tooltip>
						</th> -->
						<th translate="Offerings">Offerings</th>
						<th translate="Variant">Variant</th>
						<th translate="Allowance">Allowance</th>
						<th st-sort="charges.sumOfRC" translate="Charges">Charges</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-repeat="items in offeringData track by $index">
					<tr ng-class="{'active':items.selected}" ng-click="items.expanded=!offering.expanded;">
						<td ng-bind="::items.offering.name" data-mobile-label="Offering"></td>
						<td>
							<select ng-init="items.offering.code =items.offering.code " ng-model="selectedVariant.code" ng-options="variant.product.code as variant.product.name for 
							 variant in items.offering.associatedProducts.associatedProduct | filter:variant.mandatory === false" ng-change="getSelectedVariant(items.offering)">
								<option value="">Select</option>
							</select>
						</td>
						<td ng-bind="items.allowanceDescription" data-mobile-label="Allowance">
						</td>
						<td ng-bind="::items.offering.charges.sumOfRC | currency  : items.offering.currency.code"></td>
						<td translate="%">%</td>
						<td translate="EMI">EMI</td>
						<td>
							<a class="list-group-item-link" href ng-if="items.selected" ng-click="items.selected = !items.selected; $event.stopPropagation();"
							 translate="Select">Selected</a>
							<a class="list-group-item-link" href ng-if="!items.selected" ng-click="items.selected = !items.selected; $event.stopPropagation();"
							 translate="Select">Select</a>
						</td>
						<td>
							<a class="list-group-item-link" href ng-click="selectPlanOffering(items); $event.stopPropagation();" translate="Details">Details</a>
						</td>
					</tr>
					<tr class="expanding-row" ng-if="items.details">
						<td colspan="{{tableCtrl.colspan}}">
							<div uib-collapse="!item._meta.expanded">
								<table class="table">
									<thead>
										<tr>
											<th class="icons-checkbox"></th>
											<th tt-table-tooltip>Charge</th>
											<th tt-table-tooltip>Item 1</th>
											<th tt-table-tooltip>Item 2 aaa bbb ccc ddd</th>
											<th tt-table-tooltip>Tax</th>
											<th class="currency">Charge In Invoice</th>
											<th class="currency">Charge Upfront</th>
											<th class="icons"></th>
										</tr>
									</thead>
									<!-- table sub items -->
									<tbody>
										<tr ng-repeat="items in item.items">
											<td class="icons-checkbox empty"></td>
											<td ng-bind="items.code" data-mobile-label="Code"></td>
											<td ng-bind="items.item1" data-mobile-label="Item 1"></td>
											<td tt-table-tooltip ng-bind="items.item2" data-mobile-label="Item 2"></td>
											<td ng-bind="items.tax" data-mobile-label="Tax"></td>
											<td class="currency" ng-bind="items.invoice | currency" data-mobile-label="Charge In Invoice"></td>
											<td class="currency" ng-bind="items.upfront | currency" data-mobile-label="Charge Upfront"></td>
											<td class="icons empty"></td>
										</tr>
										<tr>
											<td colspan="{{tableCtrl.colspan}}">
												<uib-tabset>
													<uib-tab heading="Tab 1">
														<div class="panel-body">
															<span class="text-muted">Content 1</span>
														</div>
													</uib-tab>
													<uib-tab heading="Tab 2">
														<div class="panel-body">
															<span class="text-muted">Some header:</span>
															<ul>
																<li>point 1</li>
																<li>point 2</li>
																<li>point 3</li>
															</ul>
														</div>
													</uib-tab>
												</uib-tabset>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="7">
							<div st-pagination="" st-items-by-page=10 st-displayed-pages=20 st-template="scripts/ttui-table/table-pagination.tpl.html"
							 class="pull-right"></div>
						</td>
					</tr>
				</tfoot>

			</table>
		</div>
	</div>

</div>