<table class="table charges-table" ng-show="key == 2">
    <tbody>
        <tr>
            <td>Monthly Rental</td>
            <td>
                <span>%</span> MUR 345.00 /mo
                <span class="pull-right">
                    <s>MUR 399.00 /mo</s>
                </span>
            </td>
        </tr>
        <tr>
            <td>Security Deposit</td>
            <td>MUR 100.00
                <span>Upfront</span>
            </td>
        </tr>
        <tr>
            <td>Insatallation Charge</td>
            <td>MUR 100.00</td>
        </tr>

        <tr>
            <th class="border-top">TOTAL (incl. Tax) Upfront</th>
            <th class="border-top">MUR 140.00</th>
        </tr>
        <tr>
            <th>TOTAL AMOUNT in 1st Invoice</th>
            <th>MUR 445.00</th>
        </tr>
    </tbody>
</table>